*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(7, 7, 94);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: rgb(238, 207, 205);
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    align-items: end;
    gap: 2rem;
}

.navbar .toogle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.drop-down-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down-menu.open{
    height: 170px;
}

.drop-down-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.container{
    background-color: rgba(255, 255, 255, 0.1);
    color: azure;
    font-size: small;
    width: 100%;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh;
}

.carousel{
    position: relative;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
    box-shadow: 5px 10px 15px rgba(125, 232, 241, 0.74);
}

.img-container{
    align-self: center;
    height: 100%;
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.img-container a {
    display: inline-block;
    min-height: 100%;
    min-width: 100%; /* Set a fixed width for the anchor tags */
}

.img-container a img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    image-rendering: initial;
}

.btn{
    position: absolute;
    top: 190px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-left{
    left:5px;
}

.btn-right{
    right:5px;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.icon{
    transition: scale 0.2s ease;
}

.btn:hover .icon{
    scale: 1.3;
}

@media(max-width: 992px){
    .navbar .links{
        display: none;
    }
    .navbar .toogle-btn{
        display:block;
    }

    .drop-down-menu{
        display: block;
    }

    .carousel-container{
        display: none;
    }
}

